[Unit]
Description=weekly adlist directory download from firebog.net

[Timer]
OnCalendar=Sun 23:45
AccuracySec=5m
Persistent=true
Unit=pi-hole-adlist.service

[Install]
WantedBy=timers.target
