# path:   /home/klassiker/.local/share/repos/raspberrypi/pi-hole-adlist.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/raspberrypi
# date:   2021-01-15T13:52:43+0100

[Unit]
Description=adlist directory download from firebog.net
Before=pi-hole-gravity.service

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -sS -o /etc/pihole/adlists.list "https://v.firebog.net/hosts/lists.php?type=tick"

[Install]
WantedBy=multi-user.target
