[Unit]
Description=weekly adlist directory download from firebog.net

[Timer]
OnCalendar=weekly
AccuracySec=3h
Persistent=true
Unit=pi-hole-adlist.service

[Install]
WantedBy=timers.target
